
/* HEADER */

html{
    max-width: 100%;
    max-height: 100%;
}
/*Edita as imgens*/
.img{
    width: 450px;
}
.navbar-light .navbar-toggler-icon {
    color: black;
    background-image: url("../images/menu.png") !important;
    width: 50px;
    height: 50px;
}

.navbar-light .navbar-toggler {
    border-color: transparent !important;
    border: none !important;
}

.icns{
    color: black;
    font-size: 20px;
    transition: 0.3s;
}
.icns:hover{
    color: white !important;
}

.navbar{
    background-color: #4776E6 !important; 
    color: black !important;
    width: 100% !important;
}
.nav-link{
    color: black !important;
    text-align: center;
}
.logo{
    width: 180px;
    height: 100%;
}

.hrefs{
    border: 1px solid black;
    border-radius: 5px;
    transition: 0.3s;
}
.hrefs:hover{
    background-color: white;
}

#searchInput{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    color: black;
    width: 50%;
    display: none;
}
.searchIcon{

}

/* --------------------------------------------------- */

/* SIDE NAV */

.sidenav{
    background-color: #efefefff;
}

.sidenav_2{
    display:none !important;
    display:inline;
    
}



@media only screen and (max-width: 991px) {
    .sidenav{
        display: none !important;
    }
    .sidenav_2 {
        display:block !important;
    }
}

.sidenav-item{
    width: 100%;
}
.menu_icon{
    width: 50px;
    position: absolute;
    top: 21%;
    left: 13%;
    z-index: 999;
    
}

/* --------------------------------------------------- */

/* ADD BUTTON */

#fixedbutton {
    position: fixed;
    bottom: 0px;
    right: 0px; 
    width: 100px;
}

/* --------------------------------------------------- */