.img{
 
    object-position:center;
    width:200px;
    height:200px
}
.input_form{

    padding: 20px;
}
.txt_titulo{
    padding: 10px;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid  #4776E6;
    outline: none;

}
.txt_textOpcional{
    padding: 10px;
    width: 100%;
    background: transparent;
    border: 1px solid  #4776E6;
    outline: none;
}

.file-upload{
    display: none;
}#load_icon{
    width: 100px;
    height: 100px;
    background-image: url('../images/fileuploadicon.png');
    background-size: cover;

}#load_icon:hover{
    background-image: url('../images/fileuploadicon_hover.png');
    
}

#submit_icon{
    width: 80px;
    height: 80px;
    background-image: url('../images/submit.png');
    background-size: cover;
    
}#submit_icon:hover{
    background-image: url('../images/submit_hover.png');
    
}
#submit_post{
    display: none;
}



.preview{

}
@media only screen and (max-width: 767px) {
    .preview{
        margin-top: 10px;
    }
   
}
